@import "variables";
@import "header";
@import "sidebar";
@import "customer";
@import "dashboard";
@import "invoice";
@import "item";
@import "settings";
@import "signup";
@import "login";
@import "reset";


// Custom CSS

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

.px4half {
  padding-right: 2.4rem !important;
  padding-left: 2.4rem !important;
  
}

.inputs .form-control:focus {
  box-shadow:none;
}

/* STYLES ARE ARRANGED ALPHABETICALLY */

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  padding: 20px 0;
  margin-bottom: 20px;
}
.auth--container {
  width: 40vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.blue-text__table {
  color: #2573bb;
}

.body--container {
  width: 80vw;
  margin: auto;
}

.border-grey {
  border-bottom: 1px solid #e7e9eb;
}

.bordered__table {
  width: auto;
  width: -moz-available;
  border-collapse: collapse;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-blue__dashboard {
  background-color: #06c567;
  text-decoration: none;
  width: 170px;
  height: 45px;
  border: 1px solid#06c567;
  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 40px;
  color: white;
}

.btn-blue__dashboard:hover {
  background-color: white;
  color: #554e4e;
}

.btn--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-green__dashboard {
  width: 150px;
  height: 50px;
  /* background-color: #06c567; */
  border: 1px solid #06c567;
  /* color: white; */
  background-color: white;
  color: #047b40;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
}

.btn-green__dashboard:hover {
  color: #047b40;
  /* background-color: white; */
  background-color: #f7f8fa;
  transition: 0.3s ease-out;
}

.btn-green__square {
  width: 7vw;
  height: 45px;
  background-color: #047b40;
  border: 1px solid #047b40;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* .btn-green__square:hover {
  background-color: white;
  color: #047b40;
} */

.btn-white__dashboard {
  text-decoration: none;
  width: 10vw;
  height: 60px;
  border: 1px solid #047b40;
  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 40px;
  color: #554e4e;
  background-color: white;
}

.btn-white__square {
  width: 7vw;
  height: 45px;
  background-color: white;
  color: #047b40;
  border: 1px solid #047b40;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* .btn-white__square:hover {
  background-color: #047b40;
  color: white;
} */

.btn-green {
  width: 200px;
  height: 60px;
  /* background-color: #047b40; */
  border: 1px solid #047b40;
  /* color: white; */
  color: #047b40;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  align-self: center;
  /* margin-top: 30px; */
}

.btn-green:hover {
  color: #047b40;
  /* background-color: white; */
  background-color: #f7f8fa;
  transition: 0.3s ease-out;
}

.customer-form__container {
  width: 95%;
  margin: auto;
}

.customer-list__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-type__option {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  margin: 22px 0;
}

.dashboard__card {
  margin-top: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  /* -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4);
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4); */
  border-radius: 15px;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: white;
  justify-content: space-between;
}

.dashboard--container {
  min-height: 100vh;
  max-height: 100%;
  /* overflow: auto; */
  background: #f7f8fa;
}

.dashboard--flex__container {
  background: #f7f8fa;
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.fa-bars {
  font-size: 30px;
  color: #047b40;
  width: 40px;
}
.fa-edit:hover {
  color: #2573bb;
  cursor: pointer;
}

/* backdrop-filter: blur(5px);   */

.fa-eye:hover {
  color: #06c567;
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: red;
  cursor: pointer;
}

.flex--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex--container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: auto;
  width: 97%;
}

.form--container {
  display: flex;
  flex-direction: column;
}

.footer__container {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
}

/* .green-bg {
  background-color: #c5fdce;
} */

.green__table {
  width: 100%;
  border-collapse: collapse;
}

.green-text {
  color: #047b40;
  text-decoration: none;
}

.green-text__table {
  color: #0d9f24;
}

.grey-text__table {
  color: #554e4e;
}

.green_underline {
  border-bottom: 4px solid #06c567;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 2em;
  width: 97%;
}

.grid--container__dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 2em;
  width: 100%;
}

/* tests */

.h1-light {
  font-weight: 100;
  font-size: 26px;
}
.h1-bold {
  font-size: 28px;
  font-weight: 700;
  /* color: #554e4e; */
}

.h3-medium {
  font-size: 20px;
  font-weight: 400;
}

.hamburger {
  display: none;
}

.header-nav__item {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 14vw;
  justify-content: space-between;
}

.header-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  width: inherit;
}

.inner-dashboard__container {
  padding: 12vh 10px 0;
  position: relative;
  width: auto;
  margin-left: 16vw;
}

.inner-page--container {
  padding: 0 40px;
  width: auto;
}

.inner-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  margin-top: 20px;
}

.input {
  border-radius: 50px;
  padding: 0 7px 0 7px;
  height: 60px;
  width: 29vw;
  border: 1px solid #e5e5e5;
  outline: none;
  margin-bottom: 15px;
  background-color: white;
}

.input-md {
  height: 60px;
  /* width: 8vw; */
  border: 1px solid #e5e5e5;
  outline: none;
  background-color: white;
  border-radius: 50px;
  padding: 0 10px;
  color: #686868;
}

.input-md__select {
  height: 50px;
  width: 8vw;
  border: 1px solid #e5e5e5;
  outline: none;
  /* margin-bottom: 15px; */
  background-color: white;
  border-radius: 50px;
  padding: 0 10px;
  color: #686868;
}

.input-sm {
  height: 60px;
  width: 4vw;
  border: 1px solid #e5e5e5;
  outline: none;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 50px;
  padding: 0 10px;
  color: #686868;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + ::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 0.5px solid green;
}

input[type="radio"] :checked {
  color: green;
}

.input--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invoices {
  line-height: 3em;
}

.invoice__cards {
  width: auto;
  height: auto;
  padding: 20px 40px;
  background: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  box-shadow: 0 2px 4px 0 rgba(183, 192, 206, 0.4);
  border-radius: 8px;
}

.left--items {
  display: flex;
  align-items: center;
  width: 10%;
  padding-right: 25px;
  justify-content: space-around;
}

.links__container {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin-bottom: 40px;
}

.logo {
  margin: 8vh 0 5vh 0;
}

.login-header {
  height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: inherit;
}

.logo-profile {
  margin: 5vh 0 0vh 0;
}
.main--container {
  position: absolute;
}

.mg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.modal-btn__container {
  width: 50%;
}

.modal-card {
  position: fixed;
  top: 40%;
  left: 35%;
  width: 35vw;
  height: 30vh;
  /* border: 1px solid black; */
  background: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4);
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  margin: auto;
}

.modal--container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.navbar--container {
  height: 76px;
  z-index: 999999;
  background-color: white;
  width: 100vw;
  color: #047b40 !important;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(183, 192, 206, 0.4);
  -moz-box-shadow: 0px 1px 5px 0px rgba(183, 192, 206, 0.4);
  box-shadow: 0px 1px 5px 0px rgba(183, 192, 206, 0.4);
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.navbar-item__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-text {
  margin-left: 30px;
}

.options {
  width: 19vw;
}

.red-text__table {
  color: #fe0d0d;
}

.select {
  padding: 10px;
}

.select-green option {
  background-color: red;
}

.side-nav {
  width: 16vw;
  height: 100%;
  color: #000000;
  position: fixed;
  -webkit-box-shadow: 2px 1px 2px 0px rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 2px 1px 2px 0px rgba(183, 192, 206, 0.2);
  box-shadow: 2px 1px 2px 0px rgba(183, 192, 206, 0.2);
  left: 0;
  top: 8vh;
  z-index: 9999;
  background: white;
}

.side-nav__item {
  width: 100%;
  padding-left: 40px;
  display: flex;
  height: inherit;
  align-items: center;
  /* justify-content: center; */
}

.side-nav__item:hover path {
  fill: #047b40;
  transition: 0.3s ease-in;
  /* transition: 3s ease-in-out; */
}

.side-nav__item:hover {
  cursor: pointer;
  /* border: 1px solid #e2fef0; */
  border-radius: 0 50px 50px 0;
  background: #e2fef0;
  color: #047b40;
  transition: 0.3s ease-in;
}

.submit {
  display: flex;
  width: 25vw;
  margin: 40px auto 0;
}

/* svg {
  fill: #000000;
}

path:hover {
  fill: #047b40;
} */

.text {
  font-weight: 400;
  font-size: 14px;
}
.text-lg {
  font-size: 20px;
}

.text-bold {
  font-weight: 500;
}

.text-light {
  font-weight: 300;
}

.text.error {
  color: red;
  font-size: 12px;
}

.th {
  background: #e2fef0;
  color: #047b40;
}

th,
td {
  padding: 1.5em;
  text-align: inherit;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60%;
}

.title-bar {
  height: 8vh;
  display: flex;
  width: inherit;
  justify-content: space-between;
  margin-bottom: 30px;
}

.verify-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  text-align: center;
  width: 30vw;
}

.white__table {
  width: 70vw;
}

/* media queries */
/* Phone and tablet only */
@media only screen and (max-width: 1024px) {
  .auth--container {
    margin-bottom: 20px;
    width: 100%;
  }

  .body--container {
    width: 90vw;
  }

  .customer-list__container {
    height: 100%;
  }

  .btn-green__dashboard {
    width: 200px;
  }
  .grid--container {
    grid-template-columns: 1fr;
  }

  .grid--container__dashboard {
    grid-template-columns: 1fr;
  }
  .h1-bold {
    font-size: 20px;
  }

  .hamburger {
    display: block;
  }

  .header-text {
    height: 30vh;
    width: 100%;
  }

  .header-nav__item {
    margin-left: 15px;
  }

  .input {
    width: 100%;
  }

  .input--container {
    width: 70%;
    height: 150px;
    text-align: center;
    display: flow-root;
  }

  .inner-dashboard__container {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .inner-page--container {
    padding: 0;
    height: 100%;
  }

  .left--items {
    display: none;
  }

  .login-header {
    margin-bottom: 25px;
  }

  .logo-dashboard {
    display: none;
  }

  .navbar--container {
    width: 100%;
  }

  .select {
    width: 70%;
  }

  .side-nav {
    width: 0;
    display: none;
  }

  .title-bar {
    height: 15vh;
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/* tablets */

@media (min-width: 600px) and (max-width: 1366px) {
  .grid--container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--container__dashboard {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%;
    margin: 0;
  }
  .hamburger {
    display: block;
  }

  .invoice__cards {
    width: auto;
    padding: 20px 10px;
  }
  .input--container {
    padding-left: 30px;
  }
  .inner-dashboard__container {
    height: auto;
    width: auto;
    /* margin: 10px auto; */
  }

  .left--items {
    display: inline-flex;
    width: 150px;
  }

  .navbar--container {
    width: 100%;
  }
  /* .side-nav__item { */
  /* width: 80%; */
  /* margin-left: 13px; */
  /* } */
  .title-bar {
    height: 8vh;
    flex-direction: inherit;
  }

  td,
  th {
    font-size: 12px;
  }

  .white__table {
    table-layout: fixed;
    width: 100%;
  }
}
